/*!
 * FM4cast - FM4 chromecast receiver/sender
 * http://sehaas.github.io/fm4cast
 *
 * Copyright 2013,2014 Sebastian Haas (sehaas@deebas.com)
 * Released under the MIT license
 *
 */

var fm4c = {};
fm4c.config = {};

fm4c.config.apikey = 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX';
fm4c.config.lastfm_apikey = 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY';
